{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    {% for college in colleges %}
    {% if user == college.user %}
      <h2>
          <a href="{% url 'thing_detail' slug=college.slug%}">
              {{ college.collegeName }}
          </a>
      </h2>
      <p>{{ college.collegeAddress }}</p>
      <p>{{ college.collegeTown }}</p>
    {% endif %}
    {% endfor %}

    {% for hospital in hospitals %}
    {% if user == hospital.user.all %}
      <h2>

              {{ hospital.hospitalName }}

      </h2>
      <p>{{ hospital.hospitalAddress }}</p>
      <p>{{ hospital.hospitalTown }}</p>
    {% endif %}
    {% endfor %}
{% endblock content %}
