{% extends 'base.html' %}
{% block title %}
    {{ college.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>{{ college.collegeName }}</h1>
    <p>{{ college.collegeAddress }}</p>
    <p>{{ college.collegeTown }}</p>


    {% for hospital in hospitals %}
      <h1>{{ hospital.hospitalName }}</h1>
      <p>{{ hospital.hospitalAddress }}</p>
      <p>{{ hospital.hospitalDirections }}</p>
      <p>{{ hospital.hospitalPhoneNumber }}</p>
    {% endfor %}

    {% if user == college.user %}
        <p>
            <a href="{% url 'edit_thing' slug=college.slug %}">
                Edit me!
            </a>
        </p>
    {% endif %}
{% endblock content %}
